.btn {
  font-weight: 300 !important;
  border-radius: 0 !important;
  margin-top: 10%;
  
}

.btn-success {
  background-color: #a2c515 !important;
  border-color: #a2c515 !important;
}

.btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  background-color: #89a712 !important;
  border-color: #89a712 !important;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(137, 167, 18, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(137, 167, 18, 0.5) !important;
}

.btn-outline-info {
  color: #00befe !important;
  border-color: #00befe !important;
}

.btn-outline-info:hover,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff !important;
  background-color: #00befe !important;
  border-color: #00befe !important;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 190, 254, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 190, 254, 0.5) !important;
}
