h1 {
  color: #201350 !important;
  font-weight: 700 !important;
  font-size: 50px !important;
}

h2 {
  color: #201350 !important;
  font-weight: 700 !important;
  font-size: 35px !important;
}

h3 {
  color: #323232 !important;
  font-weight: 300 !important;
  font-size: 23px !important;
}
