.form-control {
  border-radius: 0;
}



.form-left {
width:20%;
margin-top: 5%;
margin-left: 35%;
float: left;
border-right: 1px solid black;
text-align: center;
margin-right: 5%;
}

.form-right {  
  width:20%;
  float: left; 
  text-align: center;    
  margin-top: 5%;
  margin-left: 1%;
}