.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item.active {
  background-image: url("../../assets/images/estera_separadora_entulho_geresol_P-10G.jpg");
  background-color: #e4e2ea;
  background-blend-mode: soft-light;
}

.carousel-caption {
  height: 60% !important;
  width: 50% !important;
  top: 50% !important;
  left: 50% !important;
  margin: -12% 0 0 -20% !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #ffffffd4 !important;
  border-radius: 15px;
}

.carousel-caption h1,
h3 {
  color: #170e34 !important;
  /*opacity: 0.4;*/
}

@media (max-width: 575.98px) {
  .carousel-caption {
    width: 240px !important;
    margin: -100px 0 0 -120px !important;
  }
}
