.background {
  background-image: url("../../assets/images/estera_separadora_entulho_geresol_P-10G.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  margin-left: 7%;
  border: 5px solid #f8f9fa;
  margin-top: -7px;
  opacity: 0.5;
  z-index: -1;
}
